.gdbargs
.settings
.cproject
.project
.idea
.nfs*
iotest
lextest
maketokens
genop_pri
tests/*
!tests/*.c
!tests/Makefile
!tests/runtest.sh
*.o
*.a
stage1/
enumlist.h
tokenlist.c
error.h
tags
*.i
cc1
cc2
ccc
debug.h
debugtags.c
trace2.h
tracetags.c
enumlist.h
error.h
maketokens
tokenlist.c
chatgpt-expr.c*
unit_test/test_kw
unit_test/test_insertmacro
test_kw_real
ws/asz
ws/wsld
ws/wsnm
ws/wslib
ws/wssize
ws/tests/*.out
ws/tests/*.a
native/lib/ccclib.a
*.ast.*
*.ast
*.pp
a.out
do.ast
*.pdf
*.ps
*.swp
*.lst
*.sym
*.ihx
*.cdb
*.map
*.asm
*.s
!native/lib/*.s
!libsrc/libc/*.s
!libsrc/libu/*.s
core
lib/*.O
__pycache__/
ws/lib/
root/
