.gdbargs
.settings
.cproject
.project
.idea
.nfs*
iotest
lextest
maketokens
genop_pri
tests/*.i
*.o
stage1/
enumlist.h
tokenlist.c
error.h
tags
*.i
cc1
cc2
ccc
debug.h
debugtags.c
enumlist.h
error.h
maketokens
tokenlist.c
op_pri.h
chatgpt-expr.c*
unit_test/test_kw
unit_test/test_insertmacro
test_kw_real
*.ast.*
*.ast
a.out
do.ast
*.pdf
*.ps
*.swp
*.lst
*.sym
*.ihx
*.cdb
*.map
*.asm
*.s
!lib/*.s
core
